In [2]:
print('jh')

jh

In [4]:
# Basic Import 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline
import pandas as pd
#modeling
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostClassifier
from xgboost import XGBRegressor
import warnings
warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'xgboost'

In [20]:
df = pd.read_csv('raw.csv')
df.head()

   gender race_ethnicity  ... reading_score writing_score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]

In [21]:
# preparing for x and y variables 

X = df.drop(columns=['math_score'], axis=1)
X.head()

   gender race_ethnicity  ... reading_score writing_score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 7 columns]

In [22]:
# output feature 
y = df['math_score']
y.head()

0    72
1    69
2    90
3    47
4    76
Name: math_score, dtype: int64

In [23]:
# creating columns transformers with 3 types of transformers 

num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformers = StandardScaler()
oh_transformers = OneHotEncoder()

preprocessor  = ColumnTransformer(
    [
        ("OnehotEncoder", oh_transformers, cat_features),
        ("StandardScaler", numeric_transformers, num_features),
    ]
)

In [24]:
X = preprocessor.fit_transform(X)

In [25]:
X.shape

(1000, 19)

In [26]:
# seperating dataset into train test split 80 20 rule

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)
x_train.shape, x_test.shape

((800, 19), (200, 19))

### Create an Envalute Function to give all metrics after model Training

In [1]:
def evalute_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_squares = r2_score(true, predicted)
    return mae, mse, r2_squares